In [7]:
a={'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b={'學號':'M1129020'}
c={**a,**b}
import copy
d=copy.deepcopy(c)
c['作業分數'][1]=80
d['姓名']='許家綺'
d['性別']='女'
e=c.pop('作業分數')
f=list(e)
g=(f[0]+f[1]+f[2])/3
h=d.pop('作業分數')
i=list(h)
j=(h[0]+h[1]+h[2])/3
print(c)
print(g)
print(d)
print(j)

{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
88.33333333333333
{'姓名': '許家綺', '性別': '女', '學號': 'M1129020'}
95.0

In [12]:
a=[100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:5]=[70,50]
a.remove(50)
print((a.pop(0)+a.pop(5)))

138

In [13]:
a=347//3
b=347%3
print(a,b,a**b)

115 2 13225